<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<h1>Folio</h1>

<!-- Folio Content Container -->
<section class="folio-container">
  
  <!-- Folio Header -->
  <div class="title-row">
    <h3>Portfolios List</h1>
  </div> 

  <!-- Filter: Icons -->
  <div>
    <a href=""><i class="fa fa-html5 fa-2x"></i></a>
    <a href=""><i class="fa fa-code fa-2x"></i></a>
    <a href=""><i class="fa fa-css3 fa-2x"></i></a>
    <a href=""><i class="fa fa-gamepad fa-2x"></i></a>   
  </div>

  <br>
  
  <!-- Search Bar -->
  <form action="search" class="search-row">
    <input type="text" placeholder="Search here...">
    <button type="submit">Search</button>
  </form>

  <!-- Filter: Languages -->
  <div>
    <h5>Ruby</h5>
    <h5>JavaScript</h5>
    <h5>Python</h5>
    <h5>Swift</h5>
    <h5>C##</h5>
  </div>

  <br>

  <!-- Projects Row -->
  <div class="projects-row">
    <div class="projects-col">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3><a href="#">First Name, Last Name</a></h3>
      <p>Lorem Khaled Ipsum is a major key to success. Cloth talk. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed.</p>
    </div>

    <div class="projects-col">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3><a href="#">First Name, Last Name</a></h3>
      <p>Lorem Khaled Ipsum is a major key to success. Cloth talk. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed.</p>
    </div>

    <div class="projects-col">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3><a href="#">First Name, Last Name</a></h3>
      <p>Lorem Khaled Ipsum is a major key to success. Cloth talk. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed.</p>
    </div>

  </div>
  <!-- .projects-row -->

  <!-- Need Infinite Scroll or Next Page Selection -->
  <div class="pages-row">
    <div class-"pages-col">
      <ul class="page-select">
        <li><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </div>
  </div>

  <footer>
    <div class="footer-row">
      <div class="footer-col">
        <p>Copyright &copy; Folio 2016</p>
      </div>
    </div>
  </footer>

</section>
<!-- .folio-container -->





